.ControlPanelContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ButttonSign {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	width: 150px;
	height: 32px;
	color: #000;
	background-color: #eee;
	border: 1px solid black;
}
.rightAlign {
	display: flex;
	justify-content: flex-end;
}
.buttonBack .buttonLogout {
	&:hover {
		cursor: pointer;
	}
}

.user {
	color: blue;
}
