.error {
	color: red;
}
.FieldContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 400px;
	margin-bottom: 10px;
}
.Field {
	border: 1px solid black;
	padding: 10px 10px;
	font-size: 14px;
	color: black;
	border-radius: 5px;
	background-color: aliceblue;
}
