.registartionFormContiner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.buttonSign {
	font-size: 16px;
	width: 167.5px;
	height: 35px;
	color: #000;
	border: 1px solid black;
	margin-top: 10px;
	border-radius: 5px;
	background-color: aliceblue;
	&:hover {
		cursor: pointer;
	}
}
.serverError {
	color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.register {
	text-decoration: underline;
}
