.header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 1000px;
	height: 120px;
	padding: 20px 40px;
	background-color: white;
	box-shadow: 0 0 15px #000;
}

.discription {
	font-style: italic;
}
